<app-menu></app-menu>
<div class="container-fluid">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar src="assets/carrito.png">
            <mat-card-title>Compras Pendientes</mat-card-title>
            <mat-card-subtitle>Verificar Compras Pendientes
            </mat-card-subtitle>
        </mat-card-header>
        <div class="container-fluid border">
            <div class="row">
                <div class="col-md-12">
                    <mat-card>
                        <br />
                        <br />
                        <mat-card-content>
                            <div class="row">
                                <mat-form-field class="col-2">
                                    <mat-label>
                                        <mat-icon>article</mat-icon> Cambiar Contraseña de Correo
                                    </mat-label>
                                    <input type="text" id="Correo" matInput placeholder="Ingrese contraseña nueva" />
                                </mat-form-field>
                                <table>
                                    <tr>
                                        <td style="width: 2px;"></td>
                                        <td style="width: 500px;">
                                            <button class="btn btn-success offset-md-6">
                                                Buscar
                                            </button>                                
                                        </td>
                                    </tr>
                                </table>
                            </div>                                                
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>





