<app-menu></app-menu>
<div class="container-fluid">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar src="assets/edit.png">
            <mat-card-title>Modificar Usuario</mat-card-title>
            <mat-card-subtitle>Modificar usuario
            </mat-card-subtitle>
        </mat-card-header>
        <div class="container-fluid border">
            <div class="row">
                <div class="col-md-12">
                    <mat-card>
                        <br />
                        <br />
                        <mat-card-content>
                            <b> Datos </b>
                            <hr />
                            <div class="row">                                
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>account_circle</mat-icon> Nombre(s)
                                    </mat-label>
                                    <input type="text" id="Nombre" matInput placeholder="Nombre(s)" />
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>account_circle</mat-icon> Apellidos
                                    </mat-label>
                                    <input type="text" id="Apellidos" matInput placeholder="Apellidos" />
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>account_circle</mat-icon> Numero de empleado
                                    </mat-label>
                                    <input type="text" id="NumeroEmpleado" matInput placeholder="Numero de empleado" />
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>alternate_email</mat-icon> Correo Electronico
                                    </mat-label>
                                    <input type="text" id="CorreoElectronico" matInput placeholder="Correo Electronico" />
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>account_circle</mat-icon> Tipo de empleado
                                    </mat-label>
                                    <mat-select matInput id="TipoEmpleado" name="TipoEmpleado" matInput
                                    placeholder="Tipo de empleado">
                                    <mat-option [value]="'Test1'">Test1</mat-option>
                                    <mat-option [value]="'Test2'">Test2</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>supervised_user_circle</mat-icon> Departamento
                                    </mat-label>
                                    <mat-select matInput id="Departamento" name="Departamento" matInput
                                    placeholder="Departamento">
                                    <mat-option [value]="'Test1'">Test1</mat-option>
                                    <mat-option [value]="'Test2'">Test2</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>supervisor_account</mat-icon> Jefe
                                    </mat-label>
                                    <mat-select matInput id="Jefe" name="Jefe" matInput
                                    placeholder="Jefe">
                                    <mat-option [value]="'Test1'">Test1</mat-option>
                                    <mat-option [value]="'Test2'">Test2</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>supervisor_account</mat-icon> Gerente
                                    </mat-label>
                                    <mat-select matInput id="Gerente" name="Gerente" matInput
                                    placeholder="Gerente">
                                    <mat-option [value]="'Test1'">Test1</mat-option>
                                    <mat-option [value]="'Test2'">Test2</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>account_circle</mat-icon> Usuario
                                    </mat-label>
                                    <input type="text" id="Usuario" matInput placeholder="Usuario" />
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>password</mat-icon> Contraseña
                                    </mat-label>
                                    <input type="text" id="Contraseña" matInput placeholder="Contraseña" />
                                </mat-form-field>
                                <mat-form-field class="col-3">
                                    <mat-label>
                                        <mat-icon>account_circle</mat-icon> Tipo de usuario
                                    </mat-label>
                                    <mat-select matInput id="TipoUsuario" name="TipoUsuario" matInput
                                    placeholder="Tipo de usuario">
                                    <mat-option [value]="'Test1'">Test1</mat-option>
                                    <mat-option [value]="'Test2'">Test2</mat-option>
                                </mat-select>
                                </mat-form-field>
                                <table>
                                    <tr>
                                        <td style="width: 2000px;"></td>
                                        <td style="width: 500px;">
                                            <button class="btn btn-success offset-md-6">
                                                Actualizar
                                            </button>                                
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <mat-tab-group>
                                        <mat-tab label='Usuarios'>
                                      <table mat-table multiTemplateDataRows class="mat-elevation-z8">
                                      <!-- <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"> -->
                                        <ng-container matColumnDef="acciones">
                                          <th mat-header-cell *matHeaderCellDef> </th>
                                          <th mat-header-cell *matCellDef="let element">
                                              <div class="row">
                                                <button  type="button" class="btn btn-warning btn-sm">
                                                  <!-- <button  type="button" class="btn btn-warning btn-sm" (click)="editContract(element.cb_codigo)"> -->
                                                      <mat-icon>edit</mat-icon>
                                                  </button>
                                
                                              </div>
                                          </th>
                                      </ng-container>
                                        <ng-container matColumnDef="cb_codigo">
                                          <th mat-header-cell *matHeaderCellDef>No. Empleado</th>
                                          <td mat-cell style="font-size: x-small; text-align: center;" *matCellDef="let element">
                                            {{element.cb_codigo}} </td>
                                        </ng-container>
                                        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
                                      </table>
                                      <div class="">
                                      <!-- <div class="" *ngIf="dataSource.data.length<=0"> -->                                    
                                      </div>
                                      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                                    </mat-tab>
                                      </mat-tab-group>
                                </div>
                            </div>
                        <br />
                        <br />
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>




