<div>
    <mat-toolbar color="secondary" class="mat-elevation-z6">
        <span>
            <mat-icon>dashboard</mat-icon>
            COMTROL DE CONTRATISTAS
        </span>
        <div class="spacer"></div>
        <button mat-button routerLink="/Tabla">REGISTRAR</button>
        <button mat-button routerLink="/ContractorsUpdate">MODIFICAR</button>
        <button mat-button routerLink="/Contractors">CONTRATISTAS</button>
        <a mat-button [routerLink]="['/signoff']">SALIR</a>
    </mat-toolbar>
</div>
<br>