<div>
    <mat-toolbar color="secondary" class="mat-elevation-z6">
        <span>
            <mat-icon>dashboard</mat-icon>
            MRO
        </span>
        <div class="spacer"></div>
        <button mat-button routerLink="/HomePage">Inicio</button>
        <button mat-button routerLink="/Quickrequisition">Requisiciones</button>
        <button mat-button [matMenuTriggerFor]="Supervision">Supervision</button>
        <mat-menu #Supervision="matMenu">
            <button mat-menu-item routerLink="/Managerspendings">Requisiciones Pendientes</button>            
            <!-- <button mat-menu-item>Historial</button>
            <button mat-menu-item>Requisitores</button>
            <button mat-menu-item>Vacaciones</button> -->
        </mat-menu>        
        <button mat-button [matMenuTriggerFor]="Administracion">Administracion</button>   
        <mat-menu #Administracion="matMenu">
            <button mat-menu-item routerLink="/Controllerpendings">Requisiciones Pendientes</button>
        </mat-menu>     
        <button mat-button routerLink="">Almacen</button>
        <button mat-button routerLink="">Contabilidad</button>    
            <button mat-button [matMenuTriggerFor]="Compras">Compras</button>
        <mat-menu #Compras="matMenu">
            <button mat-menu-item routerLink="/Purchaseapproved">Aprobados</button>
            <button mat-menu-item routerLink="/Purchaseorders">Pendientes</button>
            <button mat-menu-item routerLink="/Passmro">Correo</button>
            <button mat-menu-item routerLink="/Editarpo">Modificar</button>
            <button mat-menu-item [matMenuTriggerFor]="Proveedores" >Proveedores</button>
            <mat-menu #Proveedores="matMenu">
            <button mat-menu-item routerLink="/Addproviders">Agregar</button>
            <button mat-menu-item routerLink="/Modproviders">Modificar</button>
            </mat-menu>            
        </mat-menu>    
        <button mat-button routerLink="">Reportes</button>
        <button mat-button [matMenuTriggerFor]="Configuracion">Configuracion</button>
        <mat-menu #Configuracion="matMenu">
            <button mat-menu-item routerLink="">Cambiar Contraseña</button>
            <button mat-menu-item [matMenuTriggerFor]="Usuarios" >Usuarios</button>
            <mat-menu #Usuarios="matMenu">
                <button mat-menu-item routerLink="/Usuariosadd">Agregar</button>
                <button mat-menu-item routerLink="/Usuariosmod">Modificar</button>
                <button mat-menu-item routerLink="/Usuariojefes">Jefes</button>
                <button mat-menu-item routerLink="">Gerentes</button>
            </mat-menu>
            <button mat-menu-item routerLink="">Correo</button>
            <button mat-menu-item routerLink="">Unidades</button>
            <button mat-menu-item routerLink="">Departamentos</button>
            <button mat-menu-item routerLink="">Cuentas</button>
            <button mat-menu-item routerLink="">Vacaciones</button>
        </mat-menu>
        <a mat-button [routerLink]="['/signoff']">Salir</a>
    </mat-toolbar>
</div>
<br>